@import '../../ui/variables/colors.scss';

.progress {
  max-width: 500px;
  padding: 244px 80px;
  box-sizing: border-box;
  background-color: $soft_gray;
}

.progress__title {
  color: $black;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  margin: 0 0 20px;
}

.progress__subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  margin: 0 0 63px;
  opacity: 0.5;
}

.progress__items {
  display: flex;
  flex-direction: column;
  gap: 44px;
  position: relative;
  z-index: 5;
}

.progress__line {
  position: absolute;
  border-left: 1px solid $middle_gray;
  height: 100%;
  left: 21px;
  z-index: 1;
}
