$soft_gray: #FAFAFA;
$middle_gray: #EEEDF2;
$light_gray:  #FBFBFB;
$gray: #999999;

$black: #1B1B1B;

$light_blue: #ECF2FF;
$blue: #0063FF;
$bright_blue: #5795FD;
$sky_blue: rgba(75, 180, 233, 0.05);

$white: #FFFFFF;