@import '../variables/colors.scss';

.select {
  width: 100%;
  border-radius: 7px;
  position: relative;
}

.select_type_disabled {
  opacity: 0.5;
}

.select__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  opacity: 0.6;
  margin-bottom: 12px;
}

.select__titleContainer {
  border-radius: 7px;
  width: 100%;
  height: 52px;
  background-color: $light_gray;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid #E4E5E7;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.select__titleContainer_type_disabled {
  cursor: default;
}

.select__titleContainer_without_radius {
  border-radius: 10px 10px 0 0;
}

.select__title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  margin: 0 10px 0 0;
}

.select__titleIcon {
  width: 14px;
  height: 8px;
}

.select__titleIcon_type_rotate {
  transform: rotate(180deg);
}

.select__list {
  padding: 8px 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #E4E5E7;
  border-radius: 0 0 7px 7px;
  position: absolute;
  background-color: $white;
  right: 0;
  left: 0;
  z-index: 999999;
}

.select__listItem {
  cursor: pointer;
  padding: 8px 20px;
  box-sizing: border-box;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $sky_blue;
  }
}

.select__listItemText {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $gray;

  &:hover {
    color: $blue;
  }
}

.select__error {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 13px;
  color: red;
}