@import '../../ui/variables/colors.scss';

.uploadFile {
	position: relative;
}

.uploadFile_type_disabled {
	opacity: 0.5;
}

.uploadFile__labelName {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #222222;
	opacity: 0.6;
}

.uploadFile__label {
	margin-top: 12px;
	position: relative;
	display: flex;;
	width: 100%;
}

.uploadFile__input {
	display: none;
}

.uploadFile__doneIcon {
	margin-right: 12px;
}

.uploadFile__inputFileText {
	padding: 18px 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	width: 334px;
	height: 52px;
	background: #FBFBFB;
	border-radius: 7px 0 0 7px;
	border: 1px dashed #ddd;
	border-spacing: 20px;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: $gray;
	opacity: 0.7;
	position: relative;
}

.uploadFile__text {
	max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploadFile__inputFileButton {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 0 7px 7px 0;
	background-color: $blue;
	line-height: 22px;
	height: 52px;
	width: 52px;
	border: none;
	margin: 0;
	// transition: background-color 0.2s;
}

.uploadFile__inputFileText_type_radius {
	border-radius: 7px;
}

.uploadFile__inputFileIcon {
	width: 16px;
	height: 16px;
	object-fit: contain;
}

.uploadFile input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.uploadFile__deleteButton {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 20px 20px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 0 7px 7px 0;
	background-color: transparent;
	line-height: 22px;
	height: 12px;
	width: 12px;
	border: none;
	padding: 0;
	z-index: 10;
}

.uploadFile__error {
  position: absolute;
	bottom: -20px;
  font-size: 13px;
  color: red;
}	