.addedInput {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.addedInput__select {
  width: 230px;
  position: relative;
}

.addedInput__input {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -10px;
  width: 100%;
  padding-left: 20px;

  &::-webkit-input-placeholder {
    font-size: 5px;
  }
}

.addedInput__deleteButton {
  position: absolute;
  right: 20px;
  top: 48px;
  cursor: pointer;
  transition: 0.3s;
  background: transparent;
  padding: 0;
  border: 0;
  height: 14px;
  width: 14px;
  z-index: 10;
}
