@import '../../components/ui/variables/colors.scss';

.redirect {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redirect__text {
  font-size: 40px;
  margin-bottom: 20px;
}

.redirect__button {
  width: fit-content;
  background-color: $blue;
  padding: 10px;
  color: $white;
  font-size: 15px;
  border: 1px $gray solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    opacity: 0.5;
    transition: 0.5s ease;
  }
}

.socialsStep {
  width: 100%;
  height: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

