@import '../../components/ui/variables/colors.scss';

.homeAddress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: -120px;
}

.homeAddress__matchCheckboxContainer {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
}

.homeAddress__matchCheckbox {
  margin: 0 10px 0 0;
  width: 18px;
  height: 18px;
  border: 1px solid #E4E5E7;
  border-radius: 4px;
  cursor: pointer;
}

.homeAddress__matchCheckboxLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $gray;
  opacity: 0.87;
}

.homeAddress__homeInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.homeAddress__homeInfoInput {
  width: 72px;
}

.homeAddress__homeInfoCheckboxContainer {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.homeAddress__homeInfoCheckbox {
  margin: 0 8px 0;
  width: 18px;
  height: 18px;
  border: 1px solid #E4E5E7;
  border-radius: 4px;
}

.homeAddress__homeInfoCheckboxLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $gray;
  opacity: 0.87;
}

.homeAddress__date {
  width: 160px;
}