@import '../../components/ui/variables/colors.scss';

.addressRegistration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: -120px;
}

.addressRegistration__homeInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.addressRegistration__homeInfoInput {
  width: 72px;
}

.addressRegistration__homeInfoCheckboxContainer {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.addressRegistration__homeInfoCheckbox {
  margin: 0 8px 0;
  width: 18px;
  height: 18px;
  border: 1px solid #E4E5E7;
border-radius: 4px;
}

.addressRegistration__homeInfoCheckboxLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $gray;
  opacity: 0.87;
}

.addressRegistration__date {
  width: 160px;
}