.generalStep {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.generalStep__thirdLine {
  display: flex;
  grid-column: 1 / 3;
  align-items: center;
  gap: 30px;
}

.generalStep__thirdLineRightBlock {
  display: flex;
  align-items: center;
  gap: 20px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background-image: url('../../assets/icons/calendar-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

input[type="date"] {
  font-family: 'Inter', 'Arial', sans-serif;
}

.generalStep__birthPlace {
  grid-column: 1 / 3;
}
