@import '../../ui/variables/colors.scss';

.stepLayout {
  padding: 110px 132px 110px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stepLayout__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $black;
  margin: 0 0 20px;
}

.stepLayout__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $black;
  opacity: 0.5;
  margin: 0;
}

.stepLayout__buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepLayout__backButton {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  opacity: 0.35;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.stepLayout__forwardButton {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $white;
  opacity: 0.87;
  background-color: $blue;
  border: none;
  padding: 18px 52px;
  border-radius: 7px;
}

.stepLayout__forwardButton_type_disabled {
  opacity: 0.5;
}