.addInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addInputs__selectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.addInputs__addButton {
  width: fit-content;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    background: transparent;
  }

  .submitIcon {
    color: black;
    height: 100%;
    height: 100%;
  }
}

.addInputs__select {
  width: 230px;
}

.addInputs__select_type_added {
}

.addInputs__input {
  width: 100%;
  // margin-left: -10px;
  // z-index: 5;
}

.addInputs__addButtonIcon {
  margin-right: 10px;
}

.addInputs__addButtonText {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #3E85FD;
  opacity: 0.87;
}

.addInputs__addedInput {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.addInputs__selectContainer_type_disabled {
  display: none;
}
