@import '../variables/colors.scss';

.stepIcon {
  position: relative;
  background-color: $light_blue;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.stepIcon__subImage {
  position: absolute;
  left: 0;
  bottom: 0;
}