@import '../../ui/variables/colors.scss';

.progressItem {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}

.progressItem__iconContainer {
  width: 42px;
  height: 42px;
  background-color: $middle_gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.progressItem__iconContainer_type_done {
  background-color: #7DAFFD;
}

.progressItem__iconContainer_type_current {
  background-color: $blue;
}

.progressItem__iconText {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: $black;
  opacity: 0.6;
}

.progressItem__iconText_type_done {
  color: white;
}

.progressItem__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $black;
  opacity: 0.6;
  margin-right: 16px;
}

.progressItem__text_type_current {
  opacity: 1;
  font-weight: 500;
}
