@import '../variables/colors.scss';

.inputComponent {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
}

.inputComponent__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  opacity: 0.6;
  margin-bottom: 12px;
}

.inputComponent__input {
  height: inherit;
  background: transparent;
  outline: none;
  border: 1px solid #E4E5E7;
  box-sizing: border-box;
  border-radius: 7px;
  height: 52px;
  padding: 17px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $gray;
}

.inputComponent__input_type_disabled {
  opacity: 0.5;
}

.inputComponent__error {
  position: absolute;
  bottom: -20px;
  font-size: 13px;
  color: red;
}
