@import '../../components/ui/variables/colors.scss';

.ownershipStep__select {
  max-width: 520px;
  height: 100%;
  margin-top: 64px;
}

.ownershipIp__select_type_active {
  height: fit-content;
  margin-bottom: 64px;
}

.ownershipStep__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
  height: 100%;
  margin-bottom: 64px;
  margin-top: -10px;
}

.ownershipStep__firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ownershipStep__input {
  width: 100%;
}

.ownershipStep__input_type_short {
  max-width: 158px;
}

.ownershipStep__input_type_long {
  width: 334px;
}

.ownershipStep__secondLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.ownershipStep__secondLine_type_llc {
  width: fit-content;
  gap: 30px;
  justify-content: none;
}

.ownershipStep__thirdLine {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.ownershipStep__input_type_name {
  max-width: 510px;
}

.ownershipStep__thirdLine_type_llc {
  justify-content: flex-start;
  gap: 30px;
}


.ownershipStep__checkboxContainer {
  position: absolute;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.ownershipStep__checkbox {
  margin: 0 8px 0;
  width: 18px;
  height: 18px;
  border: 1px solid #E4E5E7;
border-radius: 4px;
}

.ownershipStep__checkboxLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $gray;
  opacity: 0.87;
}

input[type="date"] {
  font-family: 'Inter', 'Arial', sans-serif;
}