@import url('./vendor/fonts/fonts.css');
@import url('./vendor/normalize.css');

body {
  margin: 0;
}

#root {
  height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
