@import '../variables/colors.scss';

.radioButtons {
  display: flex;
  flex-direction: column;
  position: relative;
}

.radioButtons__label {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.6;
}

.radioButtons__container {
  display: flex;
  gap: 10px;
}

.radioButtons__buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E4E5E7;
  box-sizing: border-box;
  border-radius: 7px;
  cursor: pointer;
}

.radioButtons__buttonContainer input[type=radio] {
  display: none;
    color: $gray;
}

.radioButtons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 74px;
  height: 50px;
}

.radioButtons__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.radioButtons__buttonContainer input[type=radio]:checked+label {
  border: 1px $bright_blue solid;
  border-radius: 7px;
  color: $bright_blue;
  fill: $bright_blue;
}

.radioButtons__error {
  position: absolute;
  bottom: -20px;
  font-size: 13px;
  color: red;
}
